body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #115740;
  border-radius: 5px;
}
::selection {
  background: #115740;
  color: #fff;
}
.qt-background {
  background: url("../public/assest/champ.png") no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.qt-background2 {
  background: linear-gradient(
      45deg,
      rgba(17, 87, 64, 0.6),
      rgba(17, 87, 40, 0.7)
    ),
    url("../public/assest/CT-bg.jpeg") no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.qt-background3 {
  background: linear-gradient(
      45deg,
      rgba(17, 87, 64, 0.6),
      rgba(17, 87, 40, 0.7)
    ),
    url("../public/assest/champ2.jpg") no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.large_circle,
.small_circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #115740;
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s;
}
.small_circle {
  width: 7px;
  height: 7px;
  background-color: #000;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #115740;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.mycontainer {
  padding: 30px;
}

.lines {
  width: 100%;
  height: 45px;
  position: relative;
}

.lines::after,
.lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background-color: #115740;
  width: 45%;
  top: 45%;
}

.lines::after {
  left: 0;
}

.lines::before {
  right: 0;
}

.mycircle {
  height: 40px;
  width: 40px;
  border: 2px solid #115740;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .mycircle {
    width: 20px;
    height: 20px;
  }
  .lines {
    height: 25px;
  }
}

.backgroundimg{
  background-image: radial-gradient(circle,#0f9d3b,#0a4d1f);
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.8); /* Start with a smaller scale */
    opacity: 0; /* Start with opacity 0 */
  }
  50% {
    transform: scale(1.2); /* Scale up to 120% halfway through the animation */
    opacity: 1; /* Fade in */
  }
  100% {
    transform: scale(0.8); /* Scale back down to 80% */
    opacity: 0; /* Fade out */
  }
}

.custom-animation {
  animation: scaleAnimation 2s ease-in-out infinite; /* Apply the animation with infinite loop */
}



